@import "tailwindcss";

@font-face {
  font-family: 'Radiona Black';
  src: url('/radiona-black.woff2') format('woff2'),
       url('/radiona-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --default-font-family: 'Red Hat Mono', monospace;
  --title-font-family: 'Radiona Black', sans-serif;

  --color-accent: #ffac02;
  --color-secondary: #69ffe4
}

@layer base {
  :root {
    @apply antialiased;
  }
  
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .title-font {
    font-family: var(--title-font-family);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}