@import "tailwindcss";

@theme {
  --default-font-family: 'Red Hat Mono', monospace;

  --color-accent: #ffac02;
  --color-secondary: #69ffe4
}

@layer base {
  :root {
    @apply antialiased;
  }
  
  body {
    @apply bg-black text-white;
  }
}